celery==5.5.3
docker_py==1.10.6
fastapi==0.116.0
fastmcp==2.10.4
langchain==0.3.26
langchain_community==0.3.27
langchain_openai==0.3.27
mcp==1.11.0
passlib==1.7.4
pydantic==2.11.7
python-dotenv==1.1.1
PyYAML==6.0.2
PyYAML==6.0.2
qdrant_client==1.14.3
Requests==2.32.4
SQLAlchemy==2.0.41
sqlmodel==0.0.24
tomlkit==0.13.3
uvicorn==0.35.0
scikit-learn==1.5.2
